<div fxLayout="row wrap" class="bgColor" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" style="margin: 0px auto;" fxLayoutAlign="  stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="margin: 20px 0; " fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Versod logo 3.png" style="width: 200px;"></div>
    <div fxLayout="column wrap" style="    text-align: center;" class="registerBox fadeIn" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <form [formGroup]="registerForm">
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput placeholder="Email Address" required formControlName="email">

        </mat-form-field>
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput placeholder="Password" required formControlName="password">

        </mat-form-field>
        <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="    background: red;     color: white;" (click)="tryRegister(registerForm.value)">Register</button></div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div>
            <p>Already have an account? <a routerLink="/login" style="color:red; text-decoration: none;">Login</a></p>
          </div>
        </div>
      </form>
    </div>
    <div fxLayout="column wrap" style="    margin: 20px 50px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="registerBox" (click)="tryGoogleLogin()">Register with Google</button></div>
  </div>
</div>