<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" *ngIf="!showLoader"><button mat-button n-fingerprint [fingerprintOptions]="{clientId: &apos;neutrinos&apos;, clientSecret: &apos;pwd&apos;}" (onsuccess)="success(&apos;Fingerprint Auth&apos; , $event)" (onerror)="error(&apos;Fingerprint Auth&apos; , $event)">Use fingerprint</button></div>
<div fxLayout="row " fxLayoutGap="20px" fxLayoutAlign="space-evenly center" [fxShow]="true" [fxHide]="false" *ngIf="showLoader">
  <div>
    <div class="spinner">

    </div>
  </div>
</div>