<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill *ngIf="namePresent">
  <div fxLayout="column wrap" fxFlex="100" fxFlex.gt-xs="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="!versesList">
      <div>
        <div class="spinner">
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="!versesList">
      <div>
        <!-- <div class="noData">
          <p>Add Something below</p>
        </div> -->
        <div class="noData">
          <p>{{verse}}</p>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" class="verseView fadeInDown" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let verse of versesList">
      <div>
        <p>{{verse.payload.doc.data().verse}}</p>
        <p style="margin: 0;
    font-size: 10px;
    text-align: right;
    padding-right: 5px;">{{verse.payload.doc.data().date.toDate() | date : &apos;medium&apos;}} | {{verse.payload.doc.data().name}}</p>
      </div>
    </div>
    <div fxLayout="column wrap" class="add slideInUp" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="true">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-form-field>
            <textarea matInput [(ngModel)]="verse" (keyup.enter)="addVerse()" required></textarea>
          </mat-form-field>
        </div><button mat-raised-button (keyup.enter)="addVerse()" (click)="addVerse()">Add</button>
      </div>
    </div>
  </div>
</div>
<div fxLayout="column wrap" class="fab slideInUp" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-mini-fab (click)="checkLogin()">
    <mat-icon>add</mat-icon>
  </button></div>
<div fxLayout="column wrap" class="addname slideInUp" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" *ngIf="!namePresent">
  <div>
    What is your name?</div>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
    <mat-form-field [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;">
      <input matInput [(ngModel)]="name" required>

    </mat-form-field><button mat-button (click)="addName()">Save</button>
  </div>
</div>