/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

$primary : red;
$white : white;

.login-card .mat-card-image:first-child {
    margin-top:0 !important
}
*{
     font-family: 'Asap', sans-serif;;
}
.logo-img{
    height: 100vh;
    width: 100%;
}
.primary-red-btn {
    background-color: #ee1c22;
    color: white;
    width: 100%;
}
.margin_0{
    margin: 0px !important ;
}
.margin_left{
    margin-left: 10px !important;
}
.width_1{
width:100px
}
.width_2{
width:200px
}
.width_3{
    padding: 0 15px !important;
    width:200px
}
.active{
    border: 1px solid white;
    background: #17a384;
    border-radius: 20px;
}

.active:focus{
    outline: none;
}
.sidenav_menu{
    cursor:pointer;
    padding: 10px 15px;
    width:100%;
}
.sidenav_sidenavMenu{
    padding: 10px 15px;
    cursor:pointer;
}
.footer_cls{
    z-index: 10;color:#fff;
    background-color: #232f49;
    position: absolute;     
    bottom: 0px;     
    width: 100%;
    height: 30px;
}
.menu_icon_img{
    width: 20px;
}




.curs_point{
    cursor: pointer;
}
.logo_img_full{
    width:100%;
    margin-left:10%
}
.logo_img_short{
    width:68%;
    margin-left: 10px;
}
.sidenav{
    background-color: #232f49 !important;
}
.footer_cls{
    z-index: 10;color:#fff;
    background-color: #232f49;
    position: absolute;     
    bottom: 0px;     
    width: 100%;
    height: 30px;
}
.menu_icon_img{
    width: 20px;
}

//======================================
.add {
    // width: 100%;
    padding: 0 20px;
    bottom: 30px;
    position: fixed;
    margin: -5px 5px;
    box-shadow: 0px -1px 9px -5px black;
    width: 97%;
    background: white;
}

.add button {
    background-color: black;
    color: white;
    height : 40px;
}

.addname {
    position: fixed;
    top: 40%;
    width: 95%;
    padding: 15px;
    margin: 0 7px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4196078431372549);
}

.verseView {
    padding: 10px 15px;
    border-radius: 24px;
background: #ffffff;
box-shadow: 0px 0px 14px #e0e0e0, 
            -7px -7px 14px #ffffff;
        margin: 10px;
}

.fab {
    position: fixed;
    z-index: 5;
    right: 20px;
    bottom: 20px;
}

.fab button {
    background-color: red !important;
    color: white !important;
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation: fadeInDown .5s;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation: slideInUp .5s;
}

.noData {
    color: #5a5a5a;
    position: absolute;
    left: 30%;
    top: 35%;
    z-index: 1;
}

.bgColor {
    background-image: linear-gradient(to bottom , $white, $primary);
}

.registerBox {
    background-color: white;
    border-radius: 0.2em;
    box-shadow: inset 0.007em 0.007em 0.034em rgb(255, 0, 0), 
                0.0503em 0.0503em 1.135em rgba(187, 21, 21, 0.89), 
                -0.0503em -0.0503em 0.135em #fff;
	border: 0.004em solid rgba(#fff, 0.3);
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 1em 0 !important;
}
//loader 
//===============================================================

.spinner {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
  transform-origin: 50% 60%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}
.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  margin: -4px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: .05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
}

.spinner:before {
  border-top-color: #66e6ff;
}

.spinner:after {
  border-top-color: #f0db75;
  animation-delay: 0.3s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  20% {
    opacity: .1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: .1;
  }
}

@media (max-width: 599px){
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 65px !important;
}
}