registry=http://106.51.73.171:3001/ 
//106.51.73.171:3001/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmaXJzdG5hbWUiOiJsYWtzaG1hbiIsImxhc3RuYW1lIjoia3VtYXIiLCJ1c2VybmFtZSI6Imxha3NobWFuIiwiZW1haWwiOiJsYWtzaG1hbkBnbWFpbC5jb20iLCJpYXQiOjE1MjY5ODY4MTZ9.HvD7f4QaJcwORo9jg47-GA54vmGnwtMbkdvHjtPFJp8 